##  .gitignore

*~
*#
.#*
#*

*.bak
*.log
*.pid
*.py[cod]
*.seed
*.sw[po]
*.map

.*~
.coverage*
.DS_Store
.grunt
.idea
.lock-wscript

coverage.xml
pylint.out

bower_components
coverage
coverage-reports
lib-cov
logs
node_modules
permdir
permdir_test
pids
reports
sms_service_client
test-reports
tmpdir
venv

build/Release
/active_stubs/

##  generated templates files
##  note: usage "cp *.sample *

dev.cfg
dev.yaml
config.py
test.yaml
dependencies.py
